h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(177, 177, 177);
    
}
.Page_Title {
    background-color: rgb(71, 151, 255);
    padding: 4px;
    font-size: 30px;
}
body{
    margin: 0;
}
header{
    margin: 0;
}
nav{
    background-color: rgb(46, 89, 146);
    margin: 0;
    text-align: center;
}
a {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}