body {
    margin:0;
}
header {
    text-align: center;
    background-color: #059e5e;
    padding: 40px;
}
.pheader {
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #1f1f3b;
    text-decoration-line: underline;
}
nav {
    text-align: center;
    background-color: #01472a;
    padding: 30px;
}
.navbar {
    padding: 30px;
    color: #c0c0c0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.navbar:hover {
    font-weight: bolder;
    background-color: #317056;
}
.indexHead {
    text-emphasis: none;
}
.worksHead {
    text-emphasis: none;
}
.aboutHead {
    text-emphasis: none;
}
.contactHead {
    text-emphasis: none;
}
.logo {
    float:left;
    width: auto;
    height: auto;
}
footer {
    text-align: center;
    background-color: #034228;
    color: #c0c0c0;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.socialLinks {
    align-items: center;
}
.bio {
    text-align: center;
}