html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    padding: 0%;
    margin: 0%;

    background-color: skyblue;

    text-align: center;
}

header {
    padding: 1rem;

    background-color: lightblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: skyblue;

    margin: auto;

}

nav > a {
    color: black;

    padding: 1rem;
    text-decoration: none;
}

nav > a:hover {
    color: #777777
}

main {
    padding: 1rem;

    background-color: lightblue;
}

.bio {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;

    text-align: left;
}

.bio > img {
    width: 20vw;
    margin: 1rem;
}

footer {
    padding: 1rem;

    background-color: skyblue;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.link {
    color: black;

    padding: 1rem;
    text-decoration: none;
}